* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
}

#cv {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* flex-direction: column; */
  /* flex-grow: 1; */
  margin-top: 3rem;
  height: 6in;
  width: 4in;
  text-align: left;
}

#personalDetails {
  width: 100%;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: solid 2px black;
}
#name {
  margin-bottom: 1rem;
}

#phoneNumb {
}

.hidden {
  display: none;
}
.infoContainer {
  width: 100%;
}

.cvWorkContainer > * {
  margin-bottom: 2px;
}
.cvEducationContainer > * {
  margin-bottom: 2px;
}
.title {
  margin-bottom: 1rem;
}
.subSubTitle {
  margin-bottom: 5px;
}
.workParentContainer {
  margin-bottom: 2em;
  border-bottom: solid 2px black;
}

.educationParentContainer {
  border-bottom: solid 2px black;
}
.cvWorkContainer {
  text-align: left;
  width: 100%;
  margin-bottom: 2em;
}

.cvEducationContainer {
  margin-bottom: 2em;
}
